:root {
    --primary-color : #007bff;
    --white : #ddd;
    --smoke-white: #f8f9fa;
    --off-white: #e0e0e0;
    --grey: #777;
    --light-grey: rgba(227, 231, 236, 1);
    --default-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    --pure-white: #ffffff;
    --light-grey-shade: #f4f4f4;
}